html {
	-webkit-font-smoothing: antialiased;
}

h1 {
	display: block;
	line-height: 5.9rem;
	
	font-family: 'Raleway', sans-serif;
	
	color: white;
}

h1 span {
	background: rgba(0, 0, 0, .25);
}

section {
	padding: 8em 0 7em;
}

#hero {
	background: rgb(128, 35, 75);
}

